* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif !important;
}

a{
  text-decoration: none !important;
}

body h3, body h2{
  font-family: 'Heebo', sans-serif !important;
}

.button-container{
  background-image: linear-gradient(to right, #03A5D2, #213D82);
  transition: opacity 2s ease-in-out;
}

.blue-button{
  color: white;
  border-radius: 20px;
  border: none;
  padding: 9px 30px;
  background: linear-gradient(to right, #03A5D2, #213D82);
}

.blue-button:hover{
  background: linear-gradient(to left, #F8626B, #B5246E);
  box-shadow: 0 0 45px #b6246d91;
}

.rose-button{
  color: white;
  border-radius: 20px;
  border: none;
  padding: 9px 30px;
  transition: background 0.2s ease-in-out;
}

.rose-button:hover{
  box-shadow: 0 0 45px #1caed791;
}

.rose-button-normal{
  background: linear-gradient(to left, #F8626B, #B5246E);
}

.rose-button-normal:hover{
  box-shadow: 0 0 45px #1caed791;
  background: linear-gradient(to right, #03A5D2, #213D82);
}

.rose-button-reverse{
  background: linear-gradient(to right, #F8626B, #B5246E);
}

.rose-button-reverse:hover{
  background: linear-gradient(to left, #03A5D2, #213D82);
}

.rose-button-45{
  background: linear-gradient(-45deg, #F8626B, #B5246E);
}

.rose-button-45:hover{
  background: linear-gradient(125deg, #03A5D2, #213D82);
}

.color-red{
  color: #F9636B;
}

.bg-blue{
  background: linear-gradient(#0B1953, #01012F);
  min-height: 600px;
}

.my-bg-white{
  background-color: white;
}

img{
  max-width: 100%;
}

h3, .big-titles{
  letter-spacing: -1px;
  font-size: 60px !important;
  font-family: 'Heebo', sans-serif !important;
}

.blue-p{
  font-family: 'Raleway', sans-serif !important;
  color: #03A7D3E6;
  font-size: 17px;
  width: 70%;
  margin: 45px 0 55px;
}